body {
  font-family: sans-serif;
  font-size: 120%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.escondido {
  display: none;
}