* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Fraunces', sans-serif;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

header {
    color:white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;

}

header img, header nav {
    padding: 30px 20px;
}

header ul {
    max-width: 500px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    font-size: 18px;
    line-height: 25px;
    list-style: none;
}

header a {
    color: black;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 55px;       
}

/* hero section ========================== */

.hero {
    color: white;
    outline: 1px solid red;
    height: 600px;
    width: 100%;
    background-image: url("./assets/image-header.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 55px;
    font-weight: 900;
    margin: 40px 0px;
    letter-spacing: 8px;    

}


/* Sessões =========================== */

.sessao {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sessao div {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.normal div {
    width: 64%;
    margin: auto;
}

.sessao img {
    width: 100%;
}

.sessao h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -0.3px;
    color: #24303E;

}

.sessao p {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #808397;
    margin: 35px 0;
}

.sessao a {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #24303E;
}

.join div {
    height: 580px;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
}

.join p {
    width: 50%;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #19536C;
}




/* Footer ============================= */

footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

footer div {
    background-color: #90D4C6;
    width: 100%;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: stretch;
}

footer img {
    width: 25%;
    flex-basis: 50px;
    object-fit: scale-down;
}

.final {
    color: #2C7566;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final div {
    font-size: 18px;
    margin: 40px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.final nav {
    padding: 20px;
}

.final ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final ul li {
    padding:0 25px;
    list-style: none;
}