body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: antiquewhite;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
}

form div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}