.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 60%;
}

.right ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 10px 1px;
  border-bottom: 1px solid #263184;
}

.right ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.right ul li button:first-child {
  margin-right: 20px;
}

.right .name {
  width: 50%;
}

.container-lines {
  overflow-y: scroll;
  height: 50%;
}