body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 7px;
    margin: 10px;
}

h2 {
    font-size: 18px;
}

input,
select {
    display: block;
    margin: 5px;
}