* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
}

img {
    width: 300px;
}