.vermelho {
    color: red;
}

.amarelo {
    color: yellow;
}

.verde {
    color: green;
}

.azul {
    color: blue;
}

.laranja {
    color: orange;
}

.roxo {
    color: purple;
}

.branco {
    color: white;
    background-color: black;
}