/* O que for mais específico fica valendo sobnre o menos específico.

Embora ha seja verde, a classe é mais específica e 
faz o h1 ficar vermelho e o id é ainda mais específico */


/* todos os h1 */
h1 {
    color: red;
}


/* Somente o h1 filho de header será estilizado */
header>h1 {
    color: green;
}


/* Todos os h1 dentro das divs serão estizadas */
div h1 {
    color: purple
}

/* Todos os h1 e h2 terão essas estilizações */
h1, h2 {
    color: orange;
}