* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(0, #cbc7f3, #202150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 95%;
    display:block;
    margin-top: 20px;
    /* padding: 20px; */
    background-color: antiquewhite;
    border-radius: 15px;
}

/* box com vídeo de fundo ================================================= */

#box {
    width: 70%;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 15px;
    height: min-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

#box > button {
    margin: 10px;
    padding: 5px;
    background-color: rgba(148, 0, 211, 0.5);
    border-radius: 5px;
    border: 1px dashed gray;
}

#box > .video {
    border: 1px solid gray;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
}

#box > .video > video {
    width: 100%;
    object-fit: cover;
}

/* Pedguntas e respostas ================================================ */

#pergunta {
    font-size: 40px;
    background-color: rgba(250, 235, 215, 0.782);
    padding: 10px;
}


#respostas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.btn {
    font-size: 20px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(104, 191, 218, 0.816);
    border-radius: 15px;
    border: 2px solid gray;
    
}

.btn:hover{
    animation-name: piscar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

/* Mensagem Box ===================== */

#msgbox {
    width: 50%;
    padding: 20px;
    position: absolute;
    background-color: rgba(255, 228, 196, 0.85);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#msgbox p {
    font-size: 18px;
}

/* Animações =========================*/

@keyframes piscar {
    0% {
        width: 80%;

        color: white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    }
    50%
    {   
        width: 90%;

        color: yellow;
        box-shadow: 5px 5px 5px rgba(255, 255, 50, 1),
                    -5px -5px 5px rgba(255, 255, 50, 1);
    }
    100% {
        width: 80%;

        color: white;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    }
}

@keyframes xil {
    0% {
        background-color: antiquewhite;
    }
    50%
    {   
        background-color: yellow;
    }
    100% {
        background-color: antiquewhite;
    }
}

