* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

body {
  background: #1F1C44;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Neuton',sans-serif;
}

.box {
  background: #FFFFFF;
  min-width: 470px;
  width: 22%;
  padding: 50px 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  margin: 10px 0px 55px 0px;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.box div {
  width: 100%;
  
  color: white;
  background-color: #5B86E6;
  background-image: url("./assets/google.svg"), url("./assets/fundo.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 19px center, 7px center;
  padding: 23px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  transition: .2s cubic-bezier(.3,0,.5,1);
  transition-property: box-shadow;
}

.box div:hover {
  box-shadow: 0px 4px 13px rgba(19, 69, 178, 0.3);
}

h2 {
  margin: 55px 0px 20px 0px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #949495;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
}

input {
  width: 100%;
  padding: 25px;
  border: 1px solid #D9DCED;
  box-sizing: border-box;
  border-radius: 5px;
  transition: .2s cubic-bezier(.3,0,.5,1);
  transition-property: border;
}

input:focus {
  border: 1px solid #000000;
}

#start {
  color: white;
  background-color: #E65B7C;
  padding: 20px;
  margin-top: 25px;
  font-size: 22px;
  line-height: 28px;  
  width: 100%;
  border-radius: 5px;
  transition: .2s cubic-bezier(.3,0,.5,1);
  transition-property: box-shadow;
}

#start:hover {
  box-shadow: 0px 4px 15px rgba(204, 28, 69, 0.3);
}

p {
  margin-top: 55px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}