body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vw;
    background-color: #E5E5E5;
    font-family: 'Lato';
}

header {
    height: 100px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: 3px solid black;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    padding-bottom: 0;
    margin: 0;
    font-family: 'Merriweather';
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

ul {
    display: flex; 
    flex-flow: wrap;
}

li {
    color: #2E29FF;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin: 10px 5px 0px 0px;
    padding: 10px 20px;
    border-radius: 45px;
    background: #EFF5FF;
}